USE [master]
GO
/****** Object:  Database [Shoplify]    Script Date: 24/12/2019 10:29:40 PM ******/
CREATE DATABASE [Shoplify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shoplify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WAQADEV\MSSQL\DATA\Shoplify.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shoplify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WAQADEV\MSSQL\DATA\Shoplify_log.ldf' , SIZE = 794624KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shoplify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shoplify]
GO
/****** Object:  User [WAQADEV]    Script Date: 24/12/2019 10:29:40 PM ******/
CREATE USER [WAQADEV] FOR LOGIN [WAQADEV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\test]    Script Date: 24/12/2019 10:29:40 PM ******/
CREATE USER [IIS APPPOOL\test] FOR LOGIN [IIS APPPOOL\test] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [WAQADEV]
GO
ALTER ROLE [db_datareader] ADD MEMBER [WAQADEV]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [WAQADEV]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\test]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\test]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24/12/2019 10:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Quantity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYANNOUNCEMENT]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYANNOUNCEMENT](
	[ANNOUNCEMENTID] [int] IDENTITY(1,1) NOT NULL,
	[ANNOUNCEMENTTITLE] [nvarchar](max) NULL,
	[ANNOUNCEMENTDETAILS] [nvarchar](max) NULL,
	[ANNOUNCEMENTIMAGE] [nvarchar](50) NULL,
	[ANNOUNCEMENTADDBY] [nvarchar](50) NULL,
	[ANNOUNCEMENTADDTIME] [datetime] NULL,
	[ANNOUNCEMENTDISABLEBY] [nvarchar](50) NULL,
 CONSTRAINT [PK_SHOPLIFYANNOUNCEMENT] PRIMARY KEY CLUSTERED 
(
	[ANNOUNCEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYBRANCH]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYBRANCH](
	[BRANCHID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCHNAME] [nvarchar](50) NOT NULL,
	[BRANCHLOCATION] [nvarchar](50) NULL,
	[BRANCHADDRESS1] [nvarchar](max) NULL,
	[BRANCHADDRESS2] [nvarchar](50) NULL,
	[BRANCHPOSCODE] [nvarchar](50) NULL,
	[BRANCHSTATE] [nvarchar](50) NULL,
	[BRANCHCOUNTRY] [nvarchar](50) NULL,
 CONSTRAINT [PK_SHOPLIFYBRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCHNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYLEVEL]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYLEVEL](
	[LEVELID] [int] IDENTITY(1,1) NOT NULL,
	[LEVELNAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SHOPLIFYLEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVELNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYMENUMASTER]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYMENUMASTER](
	[MENUID] [int] IDENTITY(1,1) NOT NULL,
	[MENUNAME] [nvarchar](50) NOT NULL,
	[MENUPRICE] [decimal](18, 2) NULL,
	[MENUCATEGORY] [nvarchar](50) NULL,
	[MENUADDDATE] [date] NULL,
	[MENUCHANGEDATE] [date] NULL,
	[MENUCHANGEBY] [nvarchar](50) NULL,
	[MENUPICTURE] [nvarchar](50) NULL,
	[MENUSTATUS] [nvarchar](50) NULL,
	[MENUCODE] [nvarchar](50) NOT NULL,
	[MENUDETAIL] [nvarchar](max) NULL,
	[MENUTYPE] [nvarchar](50) NULL,
	[MENUSETTYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SHOPLIFYMENUMASTER_1] PRIMARY KEY CLUSTERED 
(
	[MENUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYMENUTYPE]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYMENUTYPE](
	[MENUTYPEID] [int] IDENTITY(1,1) NOT NULL,
	[MENUCATEGORYNAME] [nvarchar](50) NOT NULL,
	[MENUCATEGORYADDBY] [nvarchar](50) NULL,
	[MENUCATEGORYADDDATE] [date] NULL,
	[MENUCATEGORYIMAGE] [nvarchar](max) NULL,
 CONSTRAINT [PK_SHOPLIFYMENUTYPE] PRIMARY KEY CLUSTERED 
(
	[MENUTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYMENUTYPE2]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYMENUTYPE2](
	[MENUTYPE2ID] [int] IDENTITY(1,1) NOT NULL,
	[MENUTYPENAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SHOPLIFYMENUTYPE2] PRIMARY KEY CLUSTERED 
(
	[MENUTYPE2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYMENUTYPE3]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYMENUTYPE3](
	[MENUTYPE3ID] [int] IDENTITY(1,1) NOT NULL,
	[MENUTYPE3NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SHOPLIFYMENUTYPE3] PRIMARY KEY CLUSTERED 
(
	[MENUTYPE3ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYORDER]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYORDER](
	[ORDERID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERMENUCODE] [nvarchar](50) NULL,
	[ORDERNUM] [nvarchar](50) NOT NULL,
	[ORDERQUANTITY] [int] NULL,
	[ORDERDESCRIPTION] [nvarchar](max) NULL,
	[ORDERTAKEBY] [nvarchar](50) NULL,
	[ORDERTAKETIME] [datetime] NULL,
	[ORDERSTATUS] [nvarchar](50) NULL,
	[ORDERTABLE] [nvarchar](50) NULL,
	[ORDERFINALNUMBER] [nvarchar](50) NULL,
	[ORDERTOTALPRICE] [decimal](18, 2) NULL,
	[ORDERREJECTREMARK] [nvarchar](max) NULL,
 CONSTRAINT [PK_SHOPLIFYORDER] PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYORDERTOTAL]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYORDERTOTAL](
	[ORDERTOTALID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERTOTALPRICE] [decimal](18, 2) NULL,
	[TOTALMENUORDER] [int] NULL,
	[ORDERTAKEBY] [nvarchar](50) NULL,
	[ORDERTAKETIME] [datetime] NULL,
	[ORDERFINALNUM] [nvarchar](50) NULL,
	[ORDERNUM] [nvarchar](50) NOT NULL,
	[FINALORDERSTATUS] [nvarchar](50) NULL,
	[TOTALMENUREJECT] [int] NULL,
	[TABLENUM] [nvarchar](50) NULL,
	[PAYMENT] [nvarchar](50) NULL,
	[CURRENTTABLESTATUS] [nvarchar](50) NULL,
	[PAYMENTTYPE] [nvarchar](50) NULL,
	[PAYMENTMADEUSING] [nvarchar](50) NULL,
 CONSTRAINT [PK_SHOPLIFYORDERTOTAL_1] PRIMARY KEY CLUSTERED 
(
	[ORDERTOTALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYRESTAURANTTABLE]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYRESTAURANTTABLE](
	[TABLEID] [int] IDENTITY(1,1) NOT NULL,
	[TABLENUM] [nvarchar](50) NOT NULL,
	[TABLECHANGEBY] [nvarchar](50) NULL,
	[TABLECHANGEDATE] [date] NULL,
	[TABLESEATNUM] [int] NULL,
	[TABLEADDDATE] [date] NULL,
	[TABLEADDBY] [nvarchar](50) NULL,
	[TABLESTATUS] [nvarchar](50) NULL,
	[CURRENTTABLESTATUS] [nvarchar](50) NULL,
	[CURRENTMENUORDER] [nvarchar](50) NULL,
	[CURRENTPAYMENTSTATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_SHOPLIFYRESTAURANTTABLE] PRIMARY KEY CLUSTERED 
(
	[TABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYSECTION]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYSECTION](
	[SECTIONID] [int] IDENTITY(1,1) NOT NULL,
	[SECTIONNAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SHOPLIFYSECTION] PRIMARY KEY CLUSTERED 
(
	[SECTIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPLIFYUSER]    Script Date: 24/12/2019 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPLIFYUSER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[USEREMPLOYEEID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[USERPASSWORD] [nvarchar](50) NULL,
	[USEREMAIL] [nvarchar](50) NULL,
	[USERSTATUS] [nvarchar](50) NULL,
	[USERFULLNAME] [nvarchar](50) NULL,
	[USERLASTLOGIN] [datetime] NULL,
	[USERLEVEL] [nvarchar](50) NULL,
	[USERSECTION] [nvarchar](50) NULL,
	[USERCREATEBY] [nvarchar](50) NULL,
	[USERCREATEDATE] [date] NULL,
	[USERCHANGEBY] [nvarchar](50) NULL,
	[USERCHANGEDATE] [date] NULL,
	[USERBRANCH] [nvarchar](50) NULL,
	[USERLASTPASSWORDCHANGE] [date] NULL,
	[USERGENDER] [nvarchar](50) NULL,
	[USERPICTURE] [nvarchar](200) NULL,
 CONSTRAINT [PK_SHOPLIFYUSER] PRIMARY KEY CLUSTERED 
(
	[USEREMPLOYEEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [UnitPrice], [Quantity]) VALUES (1, N'zulwaqar', CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductID], [Name], [UnitPrice], [Quantity]) VALUES (24, N'berguna', CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductID], [Name], [UnitPrice], [Quantity]) VALUES (25, N'berguna', CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYANNOUNCEMENT] ON 

INSERT [dbo].[SHOPLIFYANNOUNCEMENT] ([ANNOUNCEMENTID], [ANNOUNCEMENTTITLE], [ANNOUNCEMENTDETAILS], [ANNOUNCEMENTIMAGE], [ANNOUNCEMENTADDBY], [ANNOUNCEMENTADDTIME], [ANNOUNCEMENTDISABLEBY]) VALUES (6, N'Test1', N'Test1', N'assets\images\announcement\Test1-18052019.jpg', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-05-18T22:29:00.000' AS DateTime), NULL)
INSERT [dbo].[SHOPLIFYANNOUNCEMENT] ([ANNOUNCEMENTID], [ANNOUNCEMENTTITLE], [ANNOUNCEMENTDETAILS], [ANNOUNCEMENTIMAGE], [ANNOUNCEMENTADDBY], [ANNOUNCEMENTADDTIME], [ANNOUNCEMENTDISABLEBY]) VALUES (7, N'Test2', N'Test2', N'assets\images\announcement\Test2-18052019.jpg', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-05-18T22:30:00.000' AS DateTime), NULL)
INSERT [dbo].[SHOPLIFYANNOUNCEMENT] ([ANNOUNCEMENTID], [ANNOUNCEMENTTITLE], [ANNOUNCEMENTDETAILS], [ANNOUNCEMENTIMAGE], [ANNOUNCEMENTADDBY], [ANNOUNCEMENTADDTIME], [ANNOUNCEMENTDISABLEBY]) VALUES (8, N'Test3', N'Test3', N'assets\images\announcement\Test3-18052019.jpg', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-05-18T22:30:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SHOPLIFYANNOUNCEMENT] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYBRANCH] ON 

INSERT [dbo].[SHOPLIFYBRANCH] ([BRANCHID], [BRANCHNAME], [BRANCHLOCATION], [BRANCHADDRESS1], [BRANCHADDRESS2], [BRANCHPOSCODE], [BRANCHSTATE], [BRANCHCOUNTRY]) VALUES (1, N'AEON Mall Tebrau City', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SHOPLIFYBRANCH] ([BRANCHID], [BRANCHNAME], [BRANCHLOCATION], [BRANCHADDRESS1], [BRANCHADDRESS2], [BRANCHPOSCODE], [BRANCHSTATE], [BRANCHCOUNTRY]) VALUES (5, N'Citta Mall', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SHOPLIFYBRANCH] ([BRANCHID], [BRANCHNAME], [BRANCHLOCATION], [BRANCHADDRESS1], [BRANCHADDRESS2], [BRANCHPOSCODE], [BRANCHSTATE], [BRANCHCOUNTRY]) VALUES (10, N'eCurve', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SHOPLIFYBRANCH] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYLEVEL] ON 

INSERT [dbo].[SHOPLIFYLEVEL] ([LEVELID], [LEVELNAME]) VALUES (5, N'Administrator')
INSERT [dbo].[SHOPLIFYLEVEL] ([LEVELID], [LEVELNAME]) VALUES (6, N'Cashier')
INSERT [dbo].[SHOPLIFYLEVEL] ([LEVELID], [LEVELNAME]) VALUES (1, N'Chef')
SET IDENTITY_INSERT [dbo].[SHOPLIFYLEVEL] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUMASTER] ON 

INSERT [dbo].[SHOPLIFYMENUMASTER] ([MENUID], [MENUNAME], [MENUPRICE], [MENUCATEGORY], [MENUADDDATE], [MENUCHANGEDATE], [MENUCHANGEBY], [MENUPICTURE], [MENUSTATUS], [MENUCODE], [MENUDETAIL], [MENUTYPE], [MENUSETTYPE]) VALUES (21, N'Nasi Putih', CAST(1.00 AS Decimal(18, 2)), N'Nasi', CAST(N'2019-03-08' AS Date), CAST(N'2019-05-08' AS Date), N'Zulwaqar Zain Bin Mohtar', N'assets\images\menu\N01-08032019.jpg', N'ACTIVE', N'N01', N'Nasi Putih Kosong', N'Eat Here', N'Ala Carte')
INSERT [dbo].[SHOPLIFYMENUMASTER] ([MENUID], [MENUNAME], [MENUPRICE], [MENUCATEGORY], [MENUADDDATE], [MENUCHANGEDATE], [MENUCHANGEBY], [MENUPICTURE], [MENUSTATUS], [MENUCODE], [MENUDETAIL], [MENUTYPE], [MENUSETTYPE]) VALUES (22, N'Nasi Goreng Biasa', CAST(4.00 AS Decimal(18, 2)), N'Nasi', CAST(N'2019-03-08' AS Date), CAST(N'2019-04-27' AS Date), N'Zulwaqar Zain Bin Mohtar', N'assets\images\menu\N02-08032019.jpg', N'ACTIVE', N'N02', N'Nasi Goreng Biasa resepi shoplify.', N'Eat Here', N'Ala Carte')
INSERT [dbo].[SHOPLIFYMENUMASTER] ([MENUID], [MENUNAME], [MENUPRICE], [MENUCATEGORY], [MENUADDDATE], [MENUCHANGEDATE], [MENUCHANGEBY], [MENUPICTURE], [MENUSTATUS], [MENUCODE], [MENUDETAIL], [MENUTYPE], [MENUSETTYPE]) VALUES (23, N'Nasi Goreng Kampung', CAST(4.00 AS Decimal(18, 2)), N'Nasi', CAST(N'2019-03-08' AS Date), NULL, NULL, N'assets\images\menu\N03-08032019.jpg', N'ACTIVE', N'N03', N'Nasi Goreng Kampung resepi shoplify.', N'Eat Here', N'Ala Carte')
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUMASTER] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE] ON 

INSERT [dbo].[SHOPLIFYMENUTYPE] ([MENUTYPEID], [MENUCATEGORYNAME], [MENUCATEGORYADDBY], [MENUCATEGORYADDDATE], [MENUCATEGORYIMAGE]) VALUES (5, N'Nasi', NULL, NULL, N'assets\images\Category\nasi.png')
INSERT [dbo].[SHOPLIFYMENUTYPE] ([MENUTYPEID], [MENUCATEGORYNAME], [MENUCATEGORYADDBY], [MENUCATEGORYADDDATE], [MENUCATEGORYIMAGE]) VALUES (17, N'Minuman', NULL, NULL, N'assets\images\Category\minuman.png')
INSERT [dbo].[SHOPLIFYMENUTYPE] ([MENUTYPEID], [MENUCATEGORYNAME], [MENUCATEGORYADDBY], [MENUCATEGORYADDDATE], [MENUCATEGORYIMAGE]) VALUES (19, N'Mee', NULL, NULL, N'assets\images\Category\Mee.png')
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE2] ON 

INSERT [dbo].[SHOPLIFYMENUTYPE2] ([MENUTYPE2ID], [MENUTYPENAME]) VALUES (2, N'Eat Here')
INSERT [dbo].[SHOPLIFYMENUTYPE2] ([MENUTYPE2ID], [MENUTYPENAME]) VALUES (1, N'Take Away')
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE2] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE3] ON 

INSERT [dbo].[SHOPLIFYMENUTYPE3] ([MENUTYPE3ID], [MENUTYPE3NAME]) VALUES (2, N'Ala Carte')
INSERT [dbo].[SHOPLIFYMENUTYPE3] ([MENUTYPE3ID], [MENUTYPE3NAME]) VALUES (4, N'Combo')
INSERT [dbo].[SHOPLIFYMENUTYPE3] ([MENUTYPE3ID], [MENUTYPE3NAME]) VALUES (1, N'Set')
SET IDENTITY_INSERT [dbo].[SHOPLIFYMENUTYPE3] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYORDER] ON 

INSERT [dbo].[SHOPLIFYORDER] ([ORDERID], [ORDERMENUCODE], [ORDERNUM], [ORDERQUANTITY], [ORDERDESCRIPTION], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERSTATUS], [ORDERTABLE], [ORDERFINALNUMBER], [ORDERTOTALPRICE], [ORDERREJECTREMARK]) VALUES (5310, N'N03', N'0002', 1, N'', N'Customer', CAST(N'2019-04-25T13:34:53.000' AS DateTime), N'DELIVERED', N'A01', N'0002', CAST(4.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SHOPLIFYORDER] ([ORDERID], [ORDERMENUCODE], [ORDERNUM], [ORDERQUANTITY], [ORDERDESCRIPTION], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERSTATUS], [ORDERTABLE], [ORDERFINALNUMBER], [ORDERTOTALPRICE], [ORDERREJECTREMARK]) VALUES (5311, N'B02', N'0002', 2, N'extra pedas', N'Customer', CAST(N'2019-04-25T13:34:56.000' AS DateTime), N'DELIVERED', N'A01', N'0002', CAST(10.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SHOPLIFYORDER] ([ORDERID], [ORDERMENUCODE], [ORDERNUM], [ORDERQUANTITY], [ORDERDESCRIPTION], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERSTATUS], [ORDERTABLE], [ORDERFINALNUMBER], [ORDERTOTALPRICE], [ORDERREJECTREMARK]) VALUES (5312, N'KT04', N'0002', 2, N'', N'Customer', CAST(N'2019-04-25T13:35:01.000' AS DateTime), N'DELIVERED', N'A01', N'0002', CAST(12.00 AS Decimal(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[SHOPLIFYORDER] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYORDERTOTAL] ON 

INSERT [dbo].[SHOPLIFYORDERTOTAL] ([ORDERTOTALID], [ORDERTOTALPRICE], [TOTALMENUORDER], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERFINALNUM], [ORDERNUM], [FINALORDERSTATUS], [TOTALMENUREJECT], [TABLENUM], [PAYMENT], [CURRENTTABLESTATUS], [PAYMENTTYPE], [PAYMENTMADEUSING]) VALUES (4422, CAST(31.00 AS Decimal(18, 2)), 6, N'Customer', CAST(N'2019-04-25T13:35:25.000' AS DateTime), N'0002', N'0002', N'DELIVERED', 0, N'A01', N'PAID', N'AVAILABLE', N'ONSITE', N'Cash')
INSERT [dbo].[SHOPLIFYORDERTOTAL] ([ORDERTOTALID], [ORDERTOTALPRICE], [TOTALMENUORDER], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERFINALNUM], [ORDERNUM], [FINALORDERSTATUS], [TOTALMENUREJECT], [TABLENUM], [PAYMENT], [CURRENTTABLESTATUS], [PAYMENTTYPE], [PAYMENTMADEUSING]) VALUES (4423, CAST(9.00 AS Decimal(18, 2)), 2, N'Customer', CAST(N'2019-04-25T13:40:53.000' AS DateTime), N'0003', N'0003', N'DELIVERED', 0, N'A01', N'PAID', N'AVAILABLE', N'ONSITE', N'Cash')
INSERT [dbo].[SHOPLIFYORDERTOTAL] ([ORDERTOTALID], [ORDERTOTALPRICE], [TOTALMENUORDER], [ORDERTAKEBY], [ORDERTAKETIME], [ORDERFINALNUM], [ORDERNUM], [FINALORDERSTATUS], [TOTALMENUREJECT], [TABLENUM], [PAYMENT], [CURRENTTABLESTATUS], [PAYMENTTYPE], [PAYMENTMADEUSING]) VALUES (5405, CAST(14.00 AS Decimal(18, 2)), 3, N'Customer', CAST(N'2019-04-25T21:36:39.000' AS DateTime), N'0004', N'0004', N'DELIVERED', 0, N'A01', N'PAID', N'AVAILABLE', N'ONSITE', N'Cash')
GO
SET IDENTITY_INSERT [dbo].[SHOPLIFYORDERTOTAL] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYRESTAURANTTABLE] ON 

INSERT [dbo].[SHOPLIFYRESTAURANTTABLE] ([TABLEID], [TABLENUM], [TABLECHANGEBY], [TABLECHANGEDATE], [TABLESEATNUM], [TABLEADDDATE], [TABLEADDBY], [TABLESTATUS], [CURRENTTABLESTATUS], [CURRENTMENUORDER], [CURRENTPAYMENTSTATUS]) VALUES (5, N'A01', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-04-11' AS Date), 4, CAST(N'2019-03-08' AS Date), N'Zulwaqar Zain Bin Mohtar', N'ACTIVE', N'AVAILABLE', NULL, NULL)
INSERT [dbo].[SHOPLIFYRESTAURANTTABLE] ([TABLEID], [TABLENUM], [TABLECHANGEBY], [TABLECHANGEDATE], [TABLESEATNUM], [TABLEADDDATE], [TABLEADDBY], [TABLESTATUS], [CURRENTTABLESTATUS], [CURRENTMENUORDER], [CURRENTPAYMENTSTATUS]) VALUES (6, N'A02', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-04-11' AS Date), 4, CAST(N'2019-03-08' AS Date), N'Zulwaqar Zain Bin Mohtar', N'ACTIVE', N'AVAILABLE', NULL, NULL)
INSERT [dbo].[SHOPLIFYRESTAURANTTABLE] ([TABLEID], [TABLENUM], [TABLECHANGEBY], [TABLECHANGEDATE], [TABLESEATNUM], [TABLEADDDATE], [TABLEADDBY], [TABLESTATUS], [CURRENTTABLESTATUS], [CURRENTMENUORDER], [CURRENTPAYMENTSTATUS]) VALUES (7, N'A03', N'Zulwaqar Zain Bin Mohtar', CAST(N'2019-04-11' AS Date), 4, CAST(N'2019-03-08' AS Date), N'Zulwaqar Zain Bin Mohtar', N'ACTIVE', N'AVAILABLE', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SHOPLIFYRESTAURANTTABLE] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYSECTION] ON 

INSERT [dbo].[SHOPLIFYSECTION] ([SECTIONID], [SECTIONNAME]) VALUES (3, N'Cashier')
INSERT [dbo].[SHOPLIFYSECTION] ([SECTIONID], [SECTIONNAME]) VALUES (1, N'Kitchen')
INSERT [dbo].[SHOPLIFYSECTION] ([SECTIONID], [SECTIONNAME]) VALUES (4, N'Management')
SET IDENTITY_INSERT [dbo].[SHOPLIFYSECTION] OFF
SET IDENTITY_INSERT [dbo].[SHOPLIFYUSER] ON 

SET IDENTITY_INSERT [dbo].[SHOPLIFYUSER] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYMENUMASTER_1]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER] ADD  CONSTRAINT [IX_SHOPLIFYMENUMASTER_1] UNIQUE NONCLUSTERED 
(
	[MENUCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYMENUTYPE]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYMENUTYPE] ADD  CONSTRAINT [IX_SHOPLIFYMENUTYPE] UNIQUE NONCLUSTERED 
(
	[MENUCATEGORYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYMENUTYPE2]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYMENUTYPE2] ADD  CONSTRAINT [IX_SHOPLIFYMENUTYPE2] UNIQUE NONCLUSTERED 
(
	[MENUTYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYMENUTYPE3]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYMENUTYPE3] ADD  CONSTRAINT [IX_SHOPLIFYMENUTYPE3] UNIQUE NONCLUSTERED 
(
	[MENUTYPE3NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYORDERTOTAL]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYORDERTOTAL] ADD  CONSTRAINT [IX_SHOPLIFYORDERTOTAL] UNIQUE NONCLUSTERED 
(
	[ORDERNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SHOPLIFYRESTAURANTTABLE]    Script Date: 24/12/2019 10:29:41 PM ******/
ALTER TABLE [dbo].[SHOPLIFYRESTAURANTTABLE] ADD  CONSTRAINT [IX_SHOPLIFYRESTAURANTTABLE] UNIQUE NONCLUSTERED 
(
	[TABLENUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE] FOREIGN KEY([MENUCATEGORY])
REFERENCES [dbo].[SHOPLIFYMENUTYPE] ([MENUCATEGORYNAME])
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER] CHECK CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE]
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE2] FOREIGN KEY([MENUTYPE])
REFERENCES [dbo].[SHOPLIFYMENUTYPE2] ([MENUTYPENAME])
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER] CHECK CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE2]
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE3] FOREIGN KEY([MENUSETTYPE])
REFERENCES [dbo].[SHOPLIFYMENUTYPE3] ([MENUTYPE3NAME])
GO
ALTER TABLE [dbo].[SHOPLIFYMENUMASTER] CHECK CONSTRAINT [FK_SHOPLIFYMENUMASTER_SHOPLIFYMENUTYPE3]
GO
ALTER TABLE [dbo].[SHOPLIFYORDER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYORDER_SHOPLIFYMENUMASTER] FOREIGN KEY([ORDERMENUCODE])
REFERENCES [dbo].[SHOPLIFYMENUMASTER] ([MENUCODE])
GO
ALTER TABLE [dbo].[SHOPLIFYORDER] CHECK CONSTRAINT [FK_SHOPLIFYORDER_SHOPLIFYMENUMASTER]
GO
ALTER TABLE [dbo].[SHOPLIFYORDER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYORDER_SHOPLIFYORDERTOTAL] FOREIGN KEY([ORDERNUM])
REFERENCES [dbo].[SHOPLIFYORDERTOTAL] ([ORDERNUM])
GO
ALTER TABLE [dbo].[SHOPLIFYORDER] CHECK CONSTRAINT [FK_SHOPLIFYORDER_SHOPLIFYORDERTOTAL]
GO
ALTER TABLE [dbo].[SHOPLIFYUSER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYBRANCH] FOREIGN KEY([USERBRANCH])
REFERENCES [dbo].[SHOPLIFYBRANCH] ([BRANCHNAME])
GO
ALTER TABLE [dbo].[SHOPLIFYUSER] CHECK CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYBRANCH]
GO
ALTER TABLE [dbo].[SHOPLIFYUSER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYLEVEL] FOREIGN KEY([USERLEVEL])
REFERENCES [dbo].[SHOPLIFYLEVEL] ([LEVELNAME])
GO
ALTER TABLE [dbo].[SHOPLIFYUSER] CHECK CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYLEVEL]
GO
ALTER TABLE [dbo].[SHOPLIFYUSER]  WITH CHECK ADD  CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYSECTION] FOREIGN KEY([USERSECTION])
REFERENCES [dbo].[SHOPLIFYSECTION] ([SECTIONNAME])
GO
ALTER TABLE [dbo].[SHOPLIFYUSER] CHECK CONSTRAINT [FK_SHOPLIFYUSER_SHOPLIFYSECTION]
GO
USE [master]
GO
